<!-- If 2 courses -->
<!--
<div id="partner-course--{{ course.id }}" class="text-center mt-4 col-md-12 col-lg-4">
  <div class="course-card mx-xs-auto card">
    <img src="{{ course.course_image_url }}" class="card-img-top" alt="Project Management">
    <div class="card-body">
      <h5 class="card-title">{{ course.display_name }}</h5>
      <p class="card-text">
       {% if course.start_display != None %}
        Starts: {{course.start_display}}
        {% else %}
        Starts: {{course.start}}
        {% endif %}
      </p>
      <hr>
      <a href="{% url 'about_course' course_id=course.id %}" class="btn btn-success">Enroll Now</a>
    </div>
  </div>
</div>

<div id="partner-course-{{ course.id }}" class="text-center mt-4 col-md-12 col-lg-4">
  <div class="course-card mx-xs-auto card">
    <img src="{{ course.course_image_url }}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ course.display_name }}</h5>
      <p class="card-text">
        {% if course.start_display != None %}
        Starts: {{course.start_display}}
        {% else %}
        Starts: {{course.start}}
        {% endif %}
      </p>
      <hr>
      <a href="{% url 'about_course' course_id=course.id %}" class="btn btn-success">Enroll Now</a>
    </div>
  </div>
</div>

-->

<!-- If 1 Course -->
<div id="partner-course-{{ course.id }}" class="text-center mt-4 col-md-12 col-lg-4">
  <div class="course-card mx-xs-auto card">
    <img src="{{ course.course_image_url }}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{ course.display_name }}</h5>
      <p class="card-text">
        {% if course.start_display != None %}
        Starts: {{course.start_display}}
        {% else %}
        Starts: {{course.start}}
        {% endif %}
      </p>
      <hr>
      <a href="{% url 'about_course' course_id=course.id %}" class="btn btn-success">Enroll Now</a>
    </div>
  </div>
</div>
