<div class="col-lg-3 col-xl-2">
  <img src="{{ expert.profile_pic_url }}" alt="{{ expert.name }} profile picture">
</div>
<div class="col-lg-3 col-xl-2">
  <p class="name"><strong>{{ expert.name }}</strong></p>
  <p class="profession">{{ expert.position }}<br>{{ expert.position_org }}</br></p>
</div>

<!-- <a class="col-8 col-sm-6 col-md-4 advisor mb-3 mx-auto" href="{% url 'expert' partner_name=expert.partner.slugName expert_id=expert.id %}">
    <div class="card border-0">
      <img class="rounded-cirlce mx-auto" src="{{expert.profilePic.url}}" height="150" width="150">
      <div class="card-body">
        <h5 class="card-title text-bold cerulean line-hide-2 text-center" style="color: #006494;">{{expert.name}}</h5>
        <p class="card-text text-center" style="color: gray;">{{expert.position}}</p>
      </div>
    </div>
</a> -->
