<footer class="mt-5 pt-3">
    <div class="container text-left">
        <div class="row py-5">
            <div class="pl-5 pb-4 col-md-5 mt-md-0 mt-3">
                <img class="footer-img" src="https://coursebank-static-assets.s3-ap-northeast-1.amazonaws.com/theme/Coursebank+Logo+-+White.png" alt="Coursebank Logo White">
            </div>
            <hr class="clearfix w-100 d-md-none pb-2">
            <div id="footer-content" class="col-md-2 mb-md-0 mb-3">
                <h5><strong>COURSEBANK</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://coursebank-74718.groovehq.com/help">Help</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="https://open.edx.org/">Open EdX</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <h5><strong>CONNECT</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
                <h5><strong>MORE INFORMATION</strong></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/tos">Terms of Service</a>
                    </li>
                    <li>
                        <a href="/honor">Honor Code</a>
                    </li>
                    <li>
                        <a href="/privacy">Legal & Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    <hr>
     <div class="footer-copyright pt-2 pb-4">

        <div class="footer-text row">
        <div class="copyright col-sm-12 col-md-6">
          <strong> CourseBank Copyright 2020 </strong>
        </div>
        <div class="fb-icon col-sm-12 col-md-6">
          <a href="https://www.facebook.com/coursebank.ph/"><i class="fab fa-facebook-square"></i></a>
        </div>
        </div>

      </div>
    
    </div>
    
</footer>