<footer class="mt-5 pt-3">
    <!-- Footer Links -->
    <div class="container-fluid text-left">

        <!-- Grid row -->
        <div class="row py-5">

            <!-- Grid column -->
            <div class="pl-5 pb-4 col-md-5 mt-md-0 mt-3">

                <!-- Content -->
                <img class="footer-img" src="{% static 'img/cb-logo-white.png' %}" alt="CourseBank Logo White">
            </div>
          
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-2">

            <!-- Grid column -->
            <div id="footer-content" class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5><strong>COURSEBANK</strong></h5>

                <ul class="list-unstyled">
                <li>
                    <a href="#!">Help</a>
                </li>
                <li>
                    <a href="#!">About</a>
                </li>
                <li>
                    <a href="#!">Open EdX</a>
                </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5><strong>CONNECT</strong></h5>

                <ul class="list-unstyled">
                <li>
                    <a href="#!">Blog</a>
                </li>
                <li>
                    <a href="#!">Contact Us</a>
                </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 ><strong>MORE INFORMATION</strong></h5>

                <ul class="list-unstyled">
                <li>
                    <a href="#!">Terms of Service</a>
                </li>
                <li>
                    <a href="#!">Honor Code</a>
                </li>
                <li>
                    <a href="#!">Legal & Privacy</a>
                </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    <hr>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright pt-2 pb-4">

        <div class="footer-text col-12">
            <strong> CourseBank Copyright 2020 </strong> <a href="https://www.facebook.com/coursebank.ph/"><i class="fab fa-facebook-square"></i></a>
        </div>

    </div>
    <!-- Copyright -->

</footer>