<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img id="logo" src="https://coursebank-static-assets.s3-ap-northeast-1.amazonaws.com/theme/Coursebank+Logo+-+Main.png" style="height: 35px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/partners/">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sparta/"><b>SPARTA</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://coursebank-74718.groovehq.com/help"><b>Help</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Login</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/u/{{ request.user.username }}">Profile</a>
                            <a class="dropdown-item" href="/account/settings">Account</a>
                            <a class="dropdown-item" href="/sparta/profile/">SPARTA Profile</a>
                            <a class="dropdown-item" href="/usercredentials/{{ request.user.username }}">CPD Credentials</a>
                            <a class="dropdown-item" href="/logout">Sign Out</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>