{% extends 'main_django.html' %}
{% block headextra %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

{% endblock %}
{% block body %}
<div class="full-width-wrapper sticky-page-nav">
    <div class="contained-wrapper">
      <div class="fixed-nav-content-lakip">
        <div class="fixed-nav-content-logo">
            <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip-black.png" width="90px"/>
        </div>
        <div class="fixed-nav-content-links lakip">
            <a href="#about">About</a>
            <a href="#courses">Courses</a>
            <a href="#partners">Partners</a>
            <a href="#faq">FAQ’s</a>
        </div>
      </div>
    </div>
</div>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-vid.gif" alt="">
        <div class="swiper-overlay">
            <p>
                <span><img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-logo-black.png" alt=""></span>
            </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-3.png" alt="">
        <div class="swiper-overlay-2">
            <p>
                <span><img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip-black.png" alt=""></span>
                aims to offer a wide range of courses that have been thoughtfully translated into the <br>
                Bisaya dialect, ensuring that individuals from diverse linguistic backgrounds, <br>
                particularly those who speak the Cebuano language, can access and benefit from <br>
                the learning materials. By incorporating localized translations, LAKIP promotes <br>
                equal educational opportunities and fosters inclusivity by removing language barriers <br>
                that may hinder individuals’ access to knowledge.
            </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-4.png" alt="">
        <div class="swiper-overlay-2">
            <p>
                <span><img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip-black.png" alt=""></span>
                aims to offer a wide range of courses that have been thoughtfully translated into the <br>
                Bisaya dialect, ensuring that individuals from diverse linguistic backgrounds, <br>
                particularly those who speak the Cebuano language, can access and benefit from <br>
                the learning materials. By incorporating localized translations, LAKIP promotes <br>
                equal educational opportunities and fosters inclusivity by removing language barriers <br>
                that may hinder individuals’ access to knowledge.
            </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-2.png" alt="">
        <div class="swiper-overlay-2">
            <p>
                <span><img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip-black.png" alt=""></span>
                aims to offer a wide range of courses that have been thoughtfully translated into the <br>
                Bisaya dialect, ensuring that individuals from diverse linguistic backgrounds, <br>
                particularly those who speak the Cebuano language, can access and benefit from <br>
                the learning materials. By incorporating localized translations, LAKIP promotes <br>
                equal educational opportunities and fosters inclusivity by removing language barriers <br>
                that may hinder individuals’ access to knowledge.
            </p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-1.png" alt="">
        <div class="swiper-overlay-2">
            <p>
                <span><img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip-black.png" alt=""></span>
                aims to offer a wide range of courses that have been thoughtfully translated into the <br>
                Bisaya dialect, ensuring that individuals from diverse linguistic backgrounds, <br>
                particularly those who speak the Cebuano language, can access and benefit from <br>
                the learning materials. By incorporating localized translations, LAKIP promotes <br>
                equal educational opportunities and fosters inclusivity by removing language barriers <br>
                that may hinder individuals’ access to knowledge.
            </p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next slideBtn"></div>
    <div class="swiper-button-prev slideBtn"></div>
    <div class="swiper-pagination slideBtn"></div>
  </div>

  <div id="about" class="text-center mt-3 about-lakip contained-wrapper">
    <h2 class="mb-5 lakip">ABOUT</h2>
        <p class="lakip">
            The Department of Information and Communications Technology (DICT) - 10, through its ICT Literacy and Competency Development Bureau (ILCDB), also known as the training arm of the Department, is responsible for providing ICT training and capacity-building initiatives to the government workforce and ICT-enabled sectors. The ILCDB promotes and recognizes the vital role of information and communications technology in nation-building, promote digital literacy, ICT expertise, and knowledge-building among citizens to enable them to participate and compete in an evolving ICT age, and empower, through the use of ICT, the disadvantaged segments of the population, including the elderly, out-of-school youth, persons with disabilities and indigenous and minority groups.
        </p>
        <p class="lakip">
            Recognizing the importance of inclusive education and the role of ICT in empowering disadvantaged segments of the population, DICT 10 has collaborated with Coursebank, a platform that offers a collection of educational resources, and the Local Government Unit of Cagayan de Oro City - Education Board to translate five pilot courses into the Bisaya dialect, targeting the constituents of Region 10. By providing educational resources in the local dialect, the initiative aims to increase inclusivity in the ICT field and enhance employment opportunities for individuals in the region.
        </p>
  </div>

    <div id="courses" class="p-5 contained-wrapper">
        <h2 class="mb-2 pt-5 text-center lakip fw-bold">COURSES</h2>
        <section class="section-courses-container">
            <div class="row pt-3 mt-3 gutter-2rem">

                <div class="col-12 col-md-6 col-lg-4">
                    <a href="/courses/course-v1:DICT+FSA-BIS001+2023_Q2/about">
                        <div class="course-item">
                        <img class="img-item" width="100%" src="https://coursebank.ph/asset-v1:DICT+FSA-BIS001+2023_Q2+type@asset+block@Microsoft-productivity-Tools-v1.jpg" />
                        <div class="course-details-container">
                        <div class="d-flex align-items-center">
                        <p class="course-description mt-2 pb-3 lakip"> Microsoft Productivity Tools [Bisaya]</p>
                        </div>
                        <p class="course-start lakip">Course</p>
                        </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <a href="/courses/course-v1:DICT+FSA-BIS002+2023_Q2/about">
                        <div class="course-item">
                        <img class="img-item" width="100%" src="https://coursebank.ph/asset-v1:DICT+FSA-BIS002+2023_Q2+type@asset+block@Navigating-Google-Workspace-v1.jpg" />
                        <div class="course-details-container">
                        <div class="d-flex align-items-center">
                        <p class="course-description mt-2 pb-3 lakip"> Navigating Google Workspace [Bisaya]</p>
                        </div>
                        <p class="course-start lakip">Course</p>
                        </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <a href="courses/course-v1:DICT+FSA-BIS003+2023_Q2/about">
                        <div class="course-item">
                        <img class="img-item" width="100%" src="https://coursebank.ph/asset-v1:DICT+FSA-BIS003+2023_Q2+type@asset+block@Canva_for_Graphic_Design.png" />
                        <div class="course-details-container">
                        <div class="d-flex align-items-center">
                        <p class="course-description mt-2 pb-3 lakip"> Canva for Graphic Design [Bisaya]</p>
                        </div>
                        <p class="course-start lakip">Course</p>
                        </div>
                        </div>
                    </a>
                </div>
            
            </div>
        </section>
  </div>

<div id="start-learning" class="text-center mt-3 p-5">
    <h2 class="mb-3 lakip">Start Learning. It's Free.</h2>
        <p class="mb-2 lakip">The local DICT online courses are free for everyone. Apply for access and wait for your invite via email. <br>
            Meanwhile, make sure to have registered an account at coursebank.ph.</p>
        <a href="#" class="btn btn-lakip mt-2 lakip">APPLY NOW</a>
</div>

<div id="partners" class="contained-wrapper lakip-partner-container">
    <section class="section-courses-container">
        <div class="row pt-3 mt-3 gutter-2rem">
            <h2 class="mb-5 mt-3 text-center lakip fw-bold">PROPONENTS</h2>
            <div class="lakip-partners">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-dict.png" alt="dict-region10" width="300px" height="150px">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-cdo.png" alt="coursebank" width="200px">
            </div>
        </div>
        <div class="row gutter-2rem">
            <h2 class="mb-5 text-center lakip fw-bold">PARTNERS</h2>
            <div class="lakip-partners">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-cb.png" alt="">
                <img src="https://coursebank-static-assets-tmtg.s3.ap-northeast-1.amazonaws.com/lakip/lakip-deped.png" alt="">
            </div>
        </div>
    </section>
</div>

<div id="faq" class="mt-3 full-width-wrapper lakip-faq p-5">
    <section class="section-courses-container contained-wrapper">
        <h3 class="lakip fw-bold">FREQUENTLY ASKED QUESTIONS</h3>
        <div class="row mt-3 gutter-2rem">
            <div class="accordion1">
                <div class="accordion1-item">
                    <div class="accordion1-item-header">
                        <p class="m-0 lakip">Are the courses Free?</p>
                    </div>
                    <div class="accordion1-item-body">
                        <div class="accordion1-item-body-content">
                            <p class="lakip">The courses under this project is free. This initiative is fully funded by the Department of Information and Communications Technology.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion1">
                <div class="accordion1-item">
                    <div class="accordion1-item-header">
                        <p class="m-0 lakip">How can I access the courses?</p>
                    </div>
                    <div class="accordion1-item-body">
                        <div class="accordion1-item-body-content">
                            <p class="lakip">You can apply access to the courses by accomplishing an application form. The project staff will send the invite via your registered email address. Make sure that you first have a coursebank account.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<style>
.lakip{
    font-family: 'Montserrat', sans-serif !important;
}
.lakip-landing{
    height: 87vh;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.sticky-page-nav {
    background-color: #FFF !important;
    border-bottom: 0px !important;
    top: 0 !important;
}
.fixed-nav-content {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 30px;
}
.swiper-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #fdfcf8;
    color: #000;
}
.swiper-overlay p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swiper-overlay-2 p span img{
    width: 300px;
}
.swiper-overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .5s ease;
    background-color: #fdfcf8;
    color: #000;
}
.swiper-overlay-2 p{
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    opacity: 100%;
}
{% comment %} CUSTOM nav {% endcomment %}
.slideBtn{
    color: #FFF;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,35px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,5px)) !important;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius,2px) !important;
    background: #fff !important;
}
.about-lakip{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.fixed-nav-content-lakip{
    display: flex;
    align-items: center;
    height: 45px;
    gap: 30%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fixed-nav-content-links{
    display: flex;
    gap: 30px;
}
.fixed-nav-content-links a{
    text-decoration: none !important;
    color: #000 !important;
}
.fixed-nav-content-links a:hover{
    color: #9b4819 !important;
}
.img-item{
    height:100% !important;
}
#start-learning{
    background-color: #2c3068;
    color: #fff;
}
.btn-lakip{
    background-color: white;
}
.lakip-partner-container{
    height: 100vh;
    display: grid;
    align-items: center;
}
.lakip-partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.lakip-faq{
    background-color: #2c3068;
    color: #fff;
}
/* ACCORDION */
.accordion1{
    width: 90%;
    max-width: 1000px;
}
.accordion1-item{
    background-color: #fff;
    color: #111;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion1-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion1-item-header:after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion1-item-header.active:after{
    content: "\2212";
}
.accordion1-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    }
.accordion1-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1.5px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion1 a{
    color: #247BA0;
}
</style>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    effect: "fade",
    autoplay: {
      delay: 8000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  const accordionItemHeaders = document.querySelectorAll(".accordion1-item-header");
  accordionItemHeaders.forEach(accordionItemHeader => {
      accordionItemHeader.addEventListener("click", event => {
          const currentlyActiveAccordionItemHeader = document.querySelector(".accordion1-item-header.active");
          if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader){
              currentlyActiveAccordionItemHeader.classList.toggle("active");
              currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
          }
          accordionItemHeader.classList.toggle("active");
          const accordionItemBody = accordionItemHeader.nextElementSibling;
          if(accordionItemHeader.classList.contains("active")){
              accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
          }
          else{
              accordionItemBody.style.maxHeight = 0;
          }
      });
  });
</script>
{% endblock %}