{% extends "main_django.html" %}

{% block body %}
{% if not user.is_authenticated %}
<br>
<br>
<br>
<br>
{% endif %}
<div class="bootstrap-iso" style="font-family: Montserrat;">
  <div class="w-60 mx-auto">
    <div id="partnerscatalogheader" class="container-custom p-tint mb-5">
        <img class="w-100" src="/static/my-bootstrap/images/mymain/catalog-banner.jpg" height="200">
        <div class="caption">
            <h1>PARTNER INSTITUTIONS</h1>
        </div>
    </div>
    <br>
    <div id="containerHolderOfPartner" class="container row mb-md-5 mb-3 mx-auto">
        {% for partner in partners %}
          {% include "partner_item.html" %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
