{% extends "main_django.html" %}

{% block body %0}
{% if not user.is_authenticated %}
<br>
<br>
<br>
<br>
{% endif %}
<div class="bootstrap-iso">
  <div class="mx-auto">
    <div id="partnerscatalogheader" class="container-custom tint mb-5">
        <img class="w-100" src="" height="200">
        <div class="caption">
            <h1>PARTNER INSTITUTIONS</h1>
        </div>
    </div>
    <br>
    <div id="containerHolderOfPartner" class="mx-auto mt-3 mt-lg-5">
      <div class="container-fluid row px-0">
        {% for partner in partners %}
          {% include "partner_item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
